<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>城市列表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE64E90C1D24B69200784D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE64E9251D24B69200784D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE64E9301D24B69200784D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
